defaults: &defaults
  secret_key_base: fc10280147ee153d098675a4275356656728b8606b6c2c8e9070f6c4af3a27885d66592af99cfc71ff6b76c1734c0b5044ad2fed5d1a470a0ce5258942bfb31d
  twilio_account_sid: <%= ENV.fetch('TWILIO_ACCOUNT_SID') { 'fake_message_service_sid' } %>
  twilio_auth_token: <%= ENV['TWILIO_AUTH_TOKEN'] %>
  twilio_message_service: <%= ENV['TWILIO_MESSAGE_SERVICE'] %>

development:
  <<: *defaults

test:
  <<: *defaults

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  <<: *defaults
  secret_key_base: <%= ENV['SECRET_KEY_BASE'] %>
